# Generated data files
data/
*.csv
*.db

# Log Files
ops.txt
collection_log.txt
*.log

# Virtual Environment
.venv/

# Python cache
__pycache__/
*.pyc
.env
.eggs

# Python packaging
perpscope.egg-info/

research/